apiVersion: batch/v1
kind: Job
metadata:
  name: aiops-remediation-template
  namespace: {{ .Values.namespace }}
  labels:
    app: aiops-remediation
spec:
  template:
    metadata:
      labels:
        app: aiops-remediator
    spec:
      restartPolicy: Never
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
        - name: remediator
          image: alpine:3.20
          command:
            - /bin/sh
            - -c
            - |
              echo "Running remediation for $METRIC_NAME"
              echo "Z-Score: $ZSCORE"
              echo "Strategy: $STRATEGY"
              sleep 5
          env:
            - name: METRIC_NAME
              value: "cpu_usage"
            - name: ZSCORE
              value: "3.5"
            - name: STRATEGY
              value: "generic"
